# ── Ambiente activo ──────────────────────────────────────────────
AMBIENTE=ALPHA

# ── Alpha (Desarrollo) ───────────────────────────────────────────
ALPHA_URL=https://alpha.webflowers.ejemplo.com
ALPHA_USER=usuario_alpha
ALPHA_PASS=password_alpha
ALPHA_SERVIDOR_BD=servidor-alpha.database.windows.net
ALPHA_BD=WebFlowersAlpha_MBB
ALPHA_USER_BD=usuario_bd_alpha
ALPHA_PASS_BD=password_bd_alpha

# ── Beta (Pre-producción) ────────────────────────────────────────
BETA_URL=https://beta.webflowers.ejemplo.com
BETA_USER=usuario_beta
BETA_PASS=password_beta
BETA_SERVIDOR_BD=servidor-beta.database.windows.net
BETA_BD=WebFlowersPruebas_MBB
BETA_USER_BD=usuario_bd_beta
BETA_PASS_BD=password_bd_beta

# ── Producción ───────────────────────────────────────────────────
PROD_URL=https://www.webflowers.ejemplo.com
PROD_USER=usuario_prod
PROD_PASS=password_prod
PROD_SERVIDOR_BD=servidor-prod.database.windows.net
PROD_BD=WebFlowersProd_MBB
PROD_USER_BD=usuario_bd_prod
PROD_PASS_BD=password_bd_prod

# ── Métricas QA — qa_metrics (independiente del ambiente) ────────
METRICS_SERVIDOR=metrics-server.database.windows.net
METRICS_BD=QAMetrics
METRICS_USER=usuario_metrics
METRICS_PASS=password_metrics
